# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\light\OneDrive\Documentos\6 Semestre\Taller de desarrollo 4\Programas\JavaRest\Elecciones\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
